:root {
    --hover-color: #2196F3;
    --firsttext-color: #212121;
    --secondtext-color: #757575;
}

.section_filter_buttons {
    margin-top: 10.875rem;
}

.container_center {
    padding: 0 10%;
}

.type_selection_filter_group ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.type_selection_filter_group button {
    text-decoration: none;
    background: #F5F4FA;
    border: 0.25rem solid transparent;
    font-size: 1rem;
    padding: 0.3125rem;
    margin: 0rem 0.25rem;
    height: 2.375rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.625rem;

}

.type_selection_filter_group button:hover,
.type_selection_filter_group .is-checked {
    background: var(--hover-color);
    box-shadow: 0rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.1),
        0rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.08),
        0rem 0.125rem 0.125rem rgba(0, 0, 0, 0.12);
    border-radius: 0.25rem;
    color: #fff;
}

.list_container {
    margin: 2.5rem 0;
    overflow: hidden;
    transition-property: height, width;
    transition-duration: 0.8s;
}

.jobs_container {

    width: 30%;
    border: 0.0625rem solid #EEEEEE;
    box-sizing: border-box;
    margin: 0.9375rem;
}

.jobs_container h2, p {
    text-align: left;
    padding-left: 2rem;
}

.jobs_container img {
    width: 100%;
    height: auto;
}

.jobs_container h2 {
    margin: 1.25rem 0 0 0;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 2.25rem;
    letter-spacing: 0.06em;
    color: var(--firsttext-color);
}

.jobs_container p {
    margin: 0.25rem 0 1.25rem 0;
    font-size: 1rem;
    line-height: 1.875rem;
    letter-spacing: 0.03em;
    color: var(--secondtext-color);
}