:root {
--hover-color: #2196F3;
--firsttext-color: #212121;
--secondtext-color: #757575;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: black;
    margin: 0rem;
    background-color: #fff;
}

ul {
    list-style: none;
    margin: 0rem;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5625rem 10%;
    position: absolute;
    width: 100%;
    top: 0rem;
    left: 0rem;
    box-sizing: border-box;
    border-bottom: 0.125rem solid #ECECEC;
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
}

.page-logo {
    margin-right: 4.0625rem;
    font-family: 'Raleway';
    color: black;
    font-size: 1.625rem;
    line-height: 1.9375rem;
}

.page-logo:hover {
    color: black;
}

.page-logo span {
    color: var(--hover-color);
}

header nav,
header nav ul {
    display: flex;
}

header nav a {
    color: var(--firsttext-color);
    padding: 1rem 1.5625rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.02em;
}

header a:hover,
.active {
    color: var(--hover-color);
}

header .contact{
    margin-left: auto;
    display: flex;
    
}

header .contact li a { 
    padding: 0 1.5625rem;
    font-size: 0.875rem;
    color: var(--secondtext-color);
}

footer {
    background: #2F303A;
    padding: 0 10%;
    width: 100%;
    box-sizing: border-box;
}

.footer_information {
    padding: 3.75rem 0;
}

footer a {
    text-decoration: none;
}

footer address {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.02em;
}

footer ul {
    padding-top: 1.25rem;
}

footer li {
    padding: 0.2813rem 0;
}

footer .contact li a {
    font-size: 0.875rem;
    color: var(--secondtext-color);
}

